<html>
    <head>
        <title>easychat</title>
        <meta charset="utf-8">
        <meta name="description" content="easychat is video chat application">
        <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1">
        <link rel="icon" type="image/x-icon" sizes="16*16" href="img/chat.png">
        <script type="text/javascript" src="lib/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="prism/prism.js"></script>
        <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/about.css">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="prism/prism.css">
    </head>
    <body>
        <nav id="menu" class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../"> easy<aside class="fa fa-play-circle">chat</aside></a>
                </div>
                <div id="navbar" class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="about">About</a></li>
                        <li><a href="help">Help</a></li>
                        <li><a href="privacy">Privacy</a></li>
                        <li><a href="support">Support</a></li>
                    </ul>
                </div>
            </div>
         </nav>
         <div id="middle" class="col-lg-11 col-md-11 col-sm-11 col-xs-12 col-lg-push-1 col-md-push-1 col-sm-push-1" style="padding:20px;color:black">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                
                <p style="font-size:15px;">easy<span class="fa fa-play-circle">chat</span> simple video chat application built on webRTC technology. The key idea behind
                this is to make a platform where people can simply chat with no download, no payment and no signup. This project is developed to showcase the future
                of web.<br>
                WebRTC is still a new technology. As such, I found that there is a lack of simple and easy to understand examples for someone getting started with WebRTC. My goal was to create my own, as simple as possible, proof of concept WebRTC video conference page that achieved the following goals:
                <ul>
                    <li>1-to-1 video chat</li>
                    <li>Pure WebRTC; no external libraries</li>
                </ul>
                <p>
                    
                </p>
                <p>
                    Before diving into the code let me explain you what webRTC is and how it works?. A simple definition of webRTC is 
                    "web with capability of real time communication". In webRTC we are actually removing server between two clients,
                    Instead of client-to-server-to-client, we will do client to client communication.<br>
                    Next question is how we are going to do this?. Well the answer is simple, We are going to use webRTC APIs provided by webRTC.
                    <ul>
                        <li>MediaStream API</li>
                        <li>RTCPeerConnection API</li>
                        <li>RTCDataChannel API</li>
                    </ul>
                    We are going to use node.js to built this app, if you dont have node.js installed on your machine, go ahead and install node.js first.Before discussing
                    webRTC APIs, we need to understand signaling server. What is signaling server and what it does?. webRTC requires that 
                    peer needs exchange some critical information which is necessary for communication. The information we need to exchange is the Offer and 
                    Answer which just contains the SDP. Session Description Protocol (SDP) is a standard for describing the multimedia content of the connection 
                    such as resolution, formats, codecs, encryption, etc. so that both peers can understand each other once the data is transferring. This is, in
                    essence, the metadata describing the content and not the media content itself.<br><br>
                    Sample code for signaling server:
                    <pre><code class="language-javascript">
socket.on('create or join',function(room){//called whenever user joins room      
    console.log("calling "+room);
    if(io.nsps['/chat'].adapter.rooms[room]!=undefined){//checking whether room is created or not
        console.log("room created already");
        if(io.nsps['/chat'].adapter.rooms[room].length <= 2){//perform some action when room is full
            socket.join(room);
            socket.emit('peerLogic',2);
            console.log("adding 2nd user");
            console.log(io.nsps['/chat'].adapter.rooms[room]);
            clients+=1;
        }    
    }else{//creating room for first time
        socket.join(room);
        socket.emit('peerLogic',1);
        console.log("adding 1st user");
        console.log(io.nsps['/chat'].adapter.rooms[room]);
        clients+=1;
    }
});    
                    </code></pre>
                    Here is the sample signaling server built using socket.io. here we are creating a room which peers can join. once a peer join this
                    room, message for the same will be broadcasted to other peer.<br><br>
                    Lets use MediaStream API: this api allow us to access local audio and video devices, Sample code for capturing local video: 
                    <pre><code class="language-javascript">
function setLocalVideo(){//setting local video as soon as user comes to chat page
    var localVideo = $("#localVideo");
    var remoteVideo = $("#remoteVideo");
    console.log("Requesting local stream");
    getUserMedia({audio:true, video:true}, gotStream,function(error) {
        console.log("getUserMedia error: ", error);
    });
}

function gotStream(stream){//setting local stream to local video element 
    
    console.log("Received local stream");
    
    localVideo.src = URL.createObjectURL(stream);
    localStream = stream;       
    console.log(localStream);
    if (localStream.getVideoTracks().length > 0) {
        console.log('Using video device: ' + localStream.getVideoTracks()[0].label);
    }
    if (localStream.getAudioTracks().length > 0) {
        console.log('Using audio device: ' + localStream.getAudioTracks()[0].label);
    }
    console.log("Created local peer connection object peerConnection");
    peerConnection = new RTCPeerConnection(servers,{optional: [{RtpDataChannels: true}]});        
    if(caller)//executing call if this is caller
        call();
}

function addRemoteStream(event){//adding remote stream to remote video element this function will be called when remote stream is available
    console.log("adding remote stream after doing every shitty work");
    if (!event)
        console.log("Error in accessing remote video stream");
    remoteVideo.src = URL.createObjectURL(event.stream);
}
                    </code></pre>
                    <br><br>
                    
                    Using RTCPeerConnection API, Here we are creating peer connection object and creating offer to remote for exchanging SDP.
                    <pre><code class="language-javascript">
function call() {//creating peer connection object and attaching local stream to it
    peerConnection = new RTCPeerConnection(servers,{optional: [{RtpDataChannels: true}]});
    console.log("Now calling my call function");
    peerConnection.onicecandidate = gotLocalIceCandidate;
    peerConnection.onaddstream=addRemoteStream;  
    peerConnection.addStream(localStream);
    console.log("Added localStream to peerConnection");
    if(caller)
        peerConnection.createOffer(gotLocalDescription,handleError);

}

function gotLocalDescription(description){//setting local sdp to peer object and sending the sdp to other client
    peerConnection.setLocalDescription(description);
    console.log('getting local description and sendig offer');
    socket.emit('message',{description:description,roomName:roomName,type:"offer"});
}

function createAnswer() {//callee creating answer when sdp recieved which is sent by caller
    console.log('Sending answer to peer.');
    peerConnection.createAnswer(function(sessionDescription){          
        peerConnection.setLocalDescription(sessionDescription);
        console.log('seding description to caller');
        socket.emit('message',{
            description:sessionDescription,
            roomName:roomName,
            type:"answer"
        });
    }, function(){
        console.log("error occured while created offer");
    }, sdpConstraints);
}
                    </code></pre>
                    Peer A who will be the initiator of the connection, will create an Offer. They will then send this offer to Peer B using the chosen signal channel. Peer B will receive the 
                    Offer from the signal channel and create an Answer. They will then send this back to Peer A along the signal channel.<br><br>
                    This whole application is publically available on bitbucket, feel free to use this application as boilerplate, references for further study:
                    <ul>
                        <li><a href="http://www.html5rocks.com/en/tutorials/webrtc/basics/">http://www.html5rocks.com/en/tutorials/webrtc/basics/</a></li>
                        <li><a href="http://www.webrtc.org/">http://www.webrtc.org/</a></li>
                        <li><a href="https://developer.mozilla.org/en-US/docs/Web/API/WebRTC_API/">https://developer.mozilla.org/en-US/docs/Web/API/WebRTC_API/</a></li>
                        <li><a href="https://webrtchacks.com/an-intro-to-webrtcs-natfirewall-problem/">https://webrtchacks.com/an-intro-to-webrtcs-natfirewall-problem/</a></li>
                        <li><a href="https://www.webrtc-experiment.com/docs/webrtc-for-beginners.html">https://www.webrtc-experiment.com/docs/webrtc-for-beginners.html</a></li>

                    </ul>
                </p>        
            </div>
                
            <div id="author" class="col-lg-2 col-md-2 col-sm-2 col-xs-12 ">
                <figure><img src="/img/me.jpg"><figcaption>Anil kumar</figure>
                <p>Developer, Gamer and Lover</p>
                <ul class="social">
                    <li> <a href="https://www.facebook.com/profile.php?id=100003099420671" title="Friend on Facebook"> <i class=" fa fa-facebook">   </i> </a> </li>
                    <li> <a href="mailto:modishcoder@gmail.com" title="Email modishcoder@gmail.com"> <i class="fa fa-envelope">   </i> </a> </li>
                    <li> <a href="https://bitbucket.org/modishcoder/easychat" title="Fork me on BitBucket"> <i class="fa fa-bitbucket">   </i> </a> </li>
                </ul>
                <button id="hireMe" class="btn"><a href="https://www.linkedin.com/in/anil-kumar-54a1717b">hire me</a></button>
            </div>
         </div>
            
      
         
         <footer class="navbar navbar-fixed-bottom">
            <div class="col-lg-6 col-md-6 col-lg-push-3 col-md-push-3 col-sm-6 col-xs-12">
                <p id="copyRight">Copyright easychat©USICT GGSIPU 2016. All right reserved.</p>
            </div>
         </footer>
   </body>
</html>
