<html>
    <head>
        <title>easychat</title>
        <meta charset="utf-8">
        <meta name="description" content="easychat is video chat application">
        <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1">
        <link rel="icon" sizes="192x192" href="public/imag/chat.png">
        <script type="text/javascript" src="lib/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <link rel="stylesheet" type="text/css" href="css/chat.css">
        <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
        <script></script>
    </head>
    <body>
        <h1 class="hidden" id="roomName"><%=roomName%></h1>
        <nav id="menu" class="page-header navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../"> easy<aside class="fa fa-play-circle">chat</aside></a>
                </div>
                <div id="navbar" class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="about">About</a></li>
                        <li><a href="help">Help</a></li>
                        <li><a href="privacy">Privacy</a></li>
                        <li><a href="support">Support</a></li>
                    </ul>
                </div>
            </div>
         </nav>
         
         <div id="middleArea" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0;">
            <div id="middleLeft" class="col-lg-2 col-md-2">
                <div>
                    <button id="callBtn" style="width:35%;" class=" btn btn-success"><span class="fa fa-phone"></span>  Call</button>
                    <button id="hangUpBtn" style="width:58%" class=" btn btn-primary"><span class="fa fa-phone"></span>  Hang Up</button>
                    <div id="filter"></div>
                </div>
            </div>
            <div id="middleCentre" class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <video id="localVideo"  muted autoplay></video>
                <video id="remoteVideo" autoplay preload="Waiting for peer" poster="img/waiting.jpg" style="color:white"></video>
            </div>
            <div id="middleRight" class="col-lg-2 col-md-2">              
                <div id="chatBox">
                    <div id="chatSymbolDiv"><span id="chatSymbol" class="fa fa-comment"></span> Chat</div>
                    <div id="chatMsg"></div>
                    <textarea id="textBox" rows="1" placeholder=" Send a message ....."></textarea>     
                </div>
            </div>
         </div>
   </body>
   <script type="text/javascript" src="js/adapter.js"></script>
   <script type="text/javascript" src="js/app.js"></script>
   <script type="text/javascript" src="js/front-end-chat.js"></script>
</html>