<html>
    <head>
        <title>easychat</title>
        <meta charset="utf-8">
        <meta name="description" content="easychat is video chat application">
        <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1">
        <link rel="icon" type="image/x-icon" sizes="16*16" href="img/chat.png">
        <script type="text/javascript" src="lib/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <link rel="stylesheet" type="text/css" href="css/help.css">
        <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    </head>
    <body>
        <nav id="menu" class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../"> easy<aside class="fa fa-play-circle">chat</aside></a>
                </div>
                <div id="navbar" class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="about">About</a></li>
                        <li><a href="help">Help</a></li>
                        <li><a href="privacy">Privacy</a></li>
                        <li><a href="support">Support</a></li>
                    </ul>
                </div>
            </div>
         </nav>
         <div id="middle" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-lg-push-3 col-md-push-3 col-sm-push-3">
             <h3>Browser Requirement</h3>
             <p>easy<span class="fa fa-play-circle">chat</span> uses webRTC peer to peer connection technology, this technology
              is not standarised yet. WebRTC is available now in Google Chrome, Opera and Firefox. Figure below describe the implemention
              of webRTC APIs in different brwoser.
             <figure><img class="img-responsive" src="/img/caniuse.jpg" alt="browser Support"><figcaption>credits to <a href="http://caniuse.com/#search=webrtc">caniuse.com</a></figcaption></figure>
             </p>
             For more support and info please visit <a href="https://webrtc.org/">webrtc.org</a>
         </div>
         <footer class="navbar navbar-fixed-bottom">
            <div class="col-lg-6 col-md-6 col-lg-push-3 col-md-push-3 col-sm-6 col-xs-12">
                <p id="copyRight">Copyright easychat©USICT GGSIPU 2016. All right reserved.</p>
            </div>
         </footer>
   </body>
</html>
