<html>
    <head>
        <title>easychat</title>
        <meta charset="utf-8">
        <meta name="description" content="easychat is video chat application">
        <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1">
        <link rel="icon" type="image/x-icon" sizes="16*16" href="img/chat.png">
        <script type="text/javascript" src="lib/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    </head>
    <body>
        <nav id="menu" class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../"> easy<aside class="fa fa-play-circle">chat</aside></a>
                </div>
                <div id="navbar" class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="about">About</a></li>
                        <li><a href="help">Help</a></li>
                        <li><a href="privacy">Privacy</a></li>
                        <li><a href="support">Support</a></li>
                    </ul>
                </div>
            </div>
         </nav>
         <div id="middle" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-lg-push-3 col-md-push-3 col-sm-push-3" style="padding:20px;color:black;">
             <h3 style="text-align:center;padding-bottom:10px;">Privacy and support</h3>
             <p style="font-size:15px;">easy<span class="fa fa-play-circle">chat</span> doesn't getther or store or sell information about you, we are not doing any other activity
             which compromises with your security. what we are doing here is we take your ip address and send it to your friend same happens in your friend 
             machine. Once both you have each other ip address we share some critical information which is necessary for video chat.</br><br>
             we don't add any security feature over webRTC, we are using raw webRTC Security features provided by API itself for more security issues please
             visit <a href="http://www.html5rocks.com/en/tutorials/webrtc/basics/#toc-security">webRTC security</a>
            </p> 
         </div>
         <footer class="navbar navbar-fixed-bottom">
            <div class="col-lg-6 col-md-6 col-lg-push-3 col-md-push-3 col-sm-6 col-xs-12">
                <p id="copyRight">Copyright easychat©USICT GGSIPU 2016. All right reserved.</p>
            </div>
         </footer>
   </body>
</html>
