<html>
    <head>
        <title>easychat</title>
        <meta charset="utf-8">
        <meta name="description" content="easychat is video chat application">
        <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1">
        <link rel="icon" type="image/x-icon" sizes="16*16" href="img/chat.png">
        <script type="text/javascript" src="lib/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <link rel="stylesheet" type="text/css" href="css/help.css">
        <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    </head>
    <body>
        <nav id="menu" class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../"> easy<aside class="fa fa-play-circle">chat</aside></a>
                </div>
                <div id="navbar" class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="about">About</a></li>
                        <li><a href="help">Help</a></li>
                        <li><a href="privacy">Privacy</a></li>
                        <li><a href="support">Support</a></li>
                    </ul>
                </div>
            </div>
         </nav>
         <div id="middle" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-lg-push-3 col-md-push-3 col-sm-push-3">
            <form id="feedBackForm" class="form-horizontal">
                <h2>FeedBack</h2>
                <div class="form-group">
                    <div class="col-sm-10 col-sm-push-2">
                        <p id="errorMsg" class="hide"><span id="errorSymbol" class="fa"></span><span id="errorText"></span></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="userName" class="col-sm-2 control-label">Name:</label>
                    <div class="col-sm-10">
                    <input type="text" class="form-control" id="userName" placeholder="Your Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="userEmail" class="col-sm-2 control-label">Email:</label>
                    <div class="col-sm-10">
                    <input type="email" class="form-control" id="userEmail" placeholder="username@domain.com">
                    </div>
                </div>
                <div class="form-group">
                    <label for="userQuery" class="col-sm-2 control-label">Feedback:</label>
                    <div class="col-sm-10">
                    <textarea type="" class="form-control" id="userQuery" rows="5" placeholder=""></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                    <button id="submitQuery" type="submit" class="btn btn-default">Send Feedback</button>
                    </div>
                </div>
            </form>
         </div>
         <footer class="navbar navbar-fixed-bottom">
            <div class="col-lg-6 col-md-6 col-lg-push-3 col-md-push-3 col-sm-6 col-xs-12">
                <p id="copyRight">Copyright easychat©USICT GGSIPU 2016. All right reserved.</p>
            </div>
         </footer>
    </body>
    <script type="text/javascript" src="js/support.js"></script>     
</html>
