#middle figcaption{
    text-align: center;
}
#middle>p{
    font-size: 15px;
}
#author{
    position: fixed !important;
    right: 0;
    padding-top:10px;
}
#author>P{
    text-align: center;
}
#author>ul{
    text-align: center;
    width: 100%;
    height: 50px;
    max-height: 60px;
    padding-left: 20; 
    margin: auto;
    
}

figure>img{
    margin-left:10% !important;
    padding: 0;
    border-radius: 40%;
    width: 80%; 
    max-height: 136px;
    max-width: 136px;
}
#hireMe{
    max-width: 220px;
    margin-top:10px;
    width:80%;
    background-color: #00B0E9;
    color:white;
}
#hireMe>a{
    color: white;
    width: 100%;
    text-align: center;
    text-decoration: none;
}
#hireMe>a:hover{
    text-decoration: none;  
}
#hireMe:hover{
    background-color:#ff00ff;
}
#middle{
    padding-top: 0 !important;
}
#middle >div:first-child{
     background-color:#ffffe6;
     padding:20px;  
}
@media(max-width:768px){
    #author{
        position: static !important;      
    }
    #author>figure>img{
        display: block !important;
        margin:0 auto !important; 
    }
    #hireme{
        display: block;
        margin: auto;
    }
    .social{
        width: 38% !important;
        margin-left:31% !important;
    }
    .social>li{
        margin-bottom:5px !important; 
    }
  
}