#menu{
    position: fixed;
    height: 50px;
}
.page-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  margin: 0 !important;
  box-sizing: border-box;
  -webkit-transition: top 0.6s;
  -moz-transition: top 0.6s;
  transition: top 0.6s;
}

.page-header.off-canvas { top: -100px; }

.page-header.fixed {
  top: 0;
  z-index: 9999;
}
#middelArea{
    position:absolute;
    padding: 0 !important;
    height: 100%;
    width: 100%;
}
#middleLeft{
    margin:0; 
    background-color:#eee;
    height: 100%;
    width:15%;
    padding-top:60px;
    border-right: 1px solid black inset;
    box-shadow: 3px 3px 5px 6px #ccc; 
}
#middleLeft >button{
    margin: 2% !important;
}
#middleCentre{
    position: relative !important;
    margin: 0;
    background-color:#151515;
    height:100%;
    width: 85%;
    padding: 0;    
}
#localVideo{
    position: absolute !important;
    top:0;
    left:0;
    width: 25%;
    z-index: 10;
}
#remoteVideo{
    position: absolute !important;
    top: 0;
    left:0;
    width: inherit;
    height: inherit;
    z-index: 5;
}
#middleRight{
    position: absolute;
    background-color: #eee;
    width: 15%;
    height: 100%;
    padding: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
}
#chatSymbolDiv{
    background-color: #ccc;
    color:#ff00ff;
    font-size: 15px;
    height: 25px;
    width: inherit;
    padding: 1;
}
#chatMsg{
    padding: 5px;
}
#chatBox{
    position: absolute;
    width: 100% !important;
    height: 85% !important;   
    overflow-y:scroll; 
}
#textBox{
   position: fixed;
   bottom: 0;
   right: 0;
   width: 15% !important;
   height: 15%;
   border:none;
   font-size: 14px;
   height: 50px;
   width: inherit;
}
#remoteVideo{
    text-align: center;
    color:white;
}
#chatMsg{
    padding:0;
    padding-top:1px;
}
#msgDiv{
    padding-right:2px;
    margin:0;
    text-align:right;
    width:100%;
    border-bottom: 1px inset #bbb;
}
#msgDiv>aside{
    margin:0 5px 0 5px;
    color:#888;    
}

#msgP{
    color:black;
}