#middle{
    color: black;
}
#middle>h3{
    text-align: center;
    padding-bottom: 10px;
}
#middle>P{
    font-size: 15px;
    padding-bottom: 5px;
}
#middle figcaption{
    text-align: center;
}

#feedBackForm{
    background-color:#ffffe6; 
    padding:2% 10% 2% 10%  ;
    margin-top:5%;
    box-shadow: -1px 1px 5px 3px #aaa; 
}
#feedBackForm>h2{
    text-align: center;
    color:#00B0E9;
    margin-bottom:5%;
}
#submitQuery{
    display: block;
    background-color: #00B0E9;
    color: white;
    margin: 0 auto;
    margin-top: 10px;
}
#submitQuery:hover{
    background-color: #ff00ff;
}

#errorSymbol{
    font-size: 20px;
}
.hide{
    display:none;
}
.show{
    display: block;
}
.errorSymbolRight{
    color:green;
}
.errorSymbolWrong{
    color: red;
}