body{
    background-color: white;
     color:#00B0E9 !important;
     z-index: 0;
}
#menu{
    border: none;
    box-shadow: 1px 2px 4px #aaa; 
}
#menu .navbar-brand{
    color:#00B0E9 !important;
    font-size: 24px;
}
#menu .navbar-brand:hover{
    color:#0086b3 !important;
}
#navbar a{
   color:#00B0E9 !important;
} 
#navbar a:hover{
    color: #0086b3 !important;
}
#siteMsg{
    margin-top:15%;
    margin-bottom:10%;
    font-size:24px; 
    text-align: center !important;
}
#siteMsg>h1{
    font-size:46px;
}
@font-face{
    font-family:fenton-light;
    src:("fonts/fenton/Fenton-Light.otf");
}
#siteMsg>p{
    color:#ff00ff;
    font-family: fenton-light;
}
#menu,footer{
    background-color:  #e6f5ff !important;
    border-color: #b3e0ff !important;
}
#middle{
 
    position: relative;
    z-index: 0;
    margin-top:50px;
    padding-bottom: 100px !important;
}
#chatRoomForm{
    margin-top:20px;
    margin-right: 26%
}
#chatRoomForm>div{
    margin:auto;
    margin-left: 20%;
    margin-right: 20%;
    padding:auto;
    width: 100% !important;
}
#inputDiv{
    padding:1px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#inputDiv>span{
    padding-right: 0 !important;
    color:grey;
}
#inputDiv>input{
    padding-left:0 !important;
    color: #00B0E9  !important;
}
#inputdiv:hover,#inputdiv:focus{
    border-color:#00B0E9;
}
#inputDiv>input{
    border:none !important;
}
#inputDiv>input:hover,#inputDiv>input:focus{
    box-shadow: inherit;
} 
#chatRoomButton{
    background-color: #00B0E9;
    color:white;
}
footer{
    border: none;
    box-shadow: -1px 2px 4px #aaa; 
    position: fixed !important;
    z-index: 0 !important;
    min-height: 45px !important;
    max-height: 50px !important;
    text-align: center;
    padding: 5px;
}

#copyRight{
    padding-top:5px !important;
}
#copyRight:hover{
    color: #0086b3;
}

.social li {
	background: none repeat scroll 0 0 #B5B5B5;
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
    list-style: none;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
	color: #EDEFF1;
}
.social li:hover {
	border: 2px solid #2c3e50;
	background: #ff00ff;
}
.social li a i {
	font-size: 16px;
	margin: 8px 0 0 5px;
	color: #EDEFF1 !important;
}

@media(max-width:767px){
   #chatRoomForm{
       margin-right: 0;
       width: 80%;
       margin-left: 10%;
   }
   #chatRoomForm>div{
       display: inline-block;
       margin: 0;
   }
   #chatRoomButton{
       display: block;
       margin: 0 auto;
   }
   #chatRoom{
       display: inline-block !important;
       width: auto !important;
   }
}
@media(max-width:363px){
    #chatRoomForm{
       width: inherit;
       margin: 0;
    }    
}

